.background {
    height: 60%;
    margin: 5px 5px auto;
    background-color: darkturquoise;
    border-radius: 5%;

}

.background div {
    /*margin: 0 auto;*/
    /*display: inline-block;*/
    font-size: 50px;
    display: flex;
}

.fontColor {
    color: #cc3939;
}

.digit {

    margin: 0 auto;
}

.error {
    display: inline-block;
    color: red;
}

.enterValue {
    display: inline-block;
}