.display {
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    margin: 5px 5px auto;
    border-radius: 7px;
    border: 2px solid #55cbcc;
}

.background div {
    font-size: 50px;
    display: flex;
}

.digit {
    margin: 0 auto;
    font-size: 60px;
    color: #55cbcc;
    font-weight: bold;
}

.fontColor {
    color: #cc3939;
}

.error {
    display: inline-block;
    color: red;
    font-weight: bold;
}

.promptMessage {
    display: inline-block;
    font-weight: bold;
    color: #55cbcc
}