input {
    border-radius: 3px;
}


.error {
    border: 2px solid red;
    background-color: #ffcccc;
}

.minInput {
    display: block;
    /*background-color: #000000;*/
}

.maxInput {
    display: block;
    /*background-color: #000000;*/
}